<div>
  <button (click)="useOtherTheme = !useOtherTheme">Change theme</button>
  User other theme: {{useOtherTheme}} class='{{theme()}}' color='{{palette()}}'
</div>

<mat-slider
  [ngClass]="{'use-light-theme': useOtherTheme}"
  [color]="palette()">
  <input matSliderThumb />
</mat-slider>

<div>
  <button (click)="useOtherColor = !useOtherColor">Change color</button>
  Use different class with a color from palette {{useOtherColor}} color='{{palette()}}'
</div>

<mat-slider
  [ngClass]="{'use-some-color': !useOtherColor, 'use-other-color': useOtherColor}"
>
  <input matSliderThumb />
</mat-slider>
