<mat-card>
  <mat-card-header>
    <mat-card-title>Theme Selection</mat-card-title>
    <mat-card-subtitle>Select active theme</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    '{{ themeSelected }}'
  </mat-card-content>

  <mat-card-actions>
    <mat-radio-group
      [(ngModel)]="themeSelected">
      <mat-radio-button *ngFor="let themeName of themeNames" [value]="themeName">
        {{themeName}}
      </mat-radio-button>
    </mat-radio-group>
  </mat-card-actions>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Palette selection</mat-card-title>
    <mat-card-subtitle>Select active palette</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div>{{ paletteSelected }}</div>
  </mat-card-content>

  <mat-card-actions>
    <mat-radio-group
      [(ngModel)]="paletteSelected">
      <mat-radio-button *ngFor="let paletteName of paletteNames" [value]="paletteName">
        {{paletteName}}
      </mat-radio-button>
    </mat-radio-group>
  </mat-card-actions>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Component Demonstrations</mat-card-title>
    <mat-card-subtitle>Effects of theme and palette selections</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content class="slider-demonstrations">
    Select theme via class
    <mat-slider [class]="themeSelected">
      <input matSliderThumb />
    </mat-slider>

    Select theme via class and palette via color
    <mat-slider
      [class]="themeSelected"
      [color]="paletteSelected"> <!-- v17.3 requires:  "strictTemplates": false -->
      <input matSliderThumb />
    </mat-slider>

  </mat-card-content>

</mat-card>
