<label id="example-radio-group-label">Color palette</label>
<mat-radio-group
  aria-labelledby="example-radio-group-label"
  class="example-radio-group"
  [(ngModel)]="paletteSelected">
  <mat-radio-button class="example-radio-button" *ngFor="let paletteName of paletteNames" [value]="paletteName">
    {{paletteName}}
  </mat-radio-button>
</mat-radio-group>
<div>Palette: {{paletteSelected}}</div>

<div>
  <button (click)="useOtherTheme = !useOtherTheme">Change theme</button>
  User other theme: {{useOtherTheme}} class='{{theme()}}' color='{{palette()}}'
</div>

<mat-slider
  [ngClass]="{'use-light-theme': useOtherTheme}"
  [color]="palette()">
  <input matSliderThumb />
</mat-slider>

<div>
  <button (click)="useOtherColor = !useOtherColor">Change color</button>
  Use different class with a color from palette {{useOtherColor}} color='{{palette()}}'
</div>

<mat-slider
  [ngClass]="{'use-some-color': !useOtherColor, 'use-other-color': useOtherColor}"
  [color]="palette()">
  <input matSliderThumb />
</mat-slider>
