@use '@angular/material' as mat;
@import "../theme.scss";

@include mat.core();

mat-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

mat-slider {
  width: 300px;
}

.slider-demonstrations {
  display: flex;
  flex-direction: column;
}

.use-some-color {
  --mdc-slider-handle-color: #{mat.get-color-from-palette($color-palette-state-0, default)};
  --mdc-slider-active-track-color: #{mat.get-color-from-palette($color-palette-state-0, default)};
  --mdc-slider-inactive-track-color: #{mat.get-color-from-palette($color-palette-state-0, default)};
}

.use-other-color {
  --mdc-slider-handle-color: #{mat.get-color-from-palette($color-palette-state-1, default)};
  --mdc-slider-active-track-color: #{mat.get-color-from-palette($color-palette-state-1, default)};
  --mdc-slider-inactive-track-color: #{mat.get-color-from-palette($color-palette-state-1, default)};
}
