@use '@angular/material' as mat;

@include mat.core();

// Default theme
$theme-0-def: mat.define-light-theme((
 color: (
   primary: mat.define-palette(mat.$indigo-palette),
   accent: mat.define-palette(mat.$yellow-palette),
   warn: mat.define-palette(mat.$pink-palette)
 ),
  // Only include `typography` and `density` in the default dark theme.
  typography: mat.define-typography-config(),
  density: 0,
));

// Apply default theme
@include mat.core-theme($theme-0-def);
@include mat.all-component-themes($theme-0-def);

.theme-1 {
  // Define a light theme
  $theme-1-def: mat.define-light-theme((
   color: (
     primary: mat.define-palette(mat.$indigo-palette),
     accent: mat.define-palette(mat.$pink-palette),
   ),
  ));

  @include mat.core-color($theme-1-def);
  @include mat.all-component-themes($theme-1-def);
}

.theme-2 {
  // Define a light theme
  $theme-2-def: mat.define-light-theme((
   color: (
     primary: mat.define-palette(mat.$green-palette),
     accent: mat.define-palette(mat.$yellow-palette),
   ),
  ));

  @include mat.core-color($theme-2-def);
  @include mat.all-component-themes($theme-2-def);
}

.theme-3 {
  // Define a light theme
  $theme-3-def: mat.define-light-theme((
   color: (
     primary: mat.define-palette(mat.$red-palette),
     accent: mat.define-palette(mat.$cyan-palette),
   ),
  ));

  @include mat.core-color($theme-3-def);
  @include mat.all-component-themes($theme-3-def);
}
