@use '@angular/material' as mat;

@include mat.core();

$color-palette-state-0: mat.define-palette(mat.$blue-palette);
$color-palette-state-1: mat.define-palette(mat.$red-palette);

// Define a dark theme
$dark-theme: mat.define-dark-theme((
 color: (
   primary: mat.define-palette(mat.$pink-palette),
   accent: mat.define-palette(mat.$yellow-palette),
 ),
  // Only include `typography` and `density` in the default dark theme.
  typography: mat.define-typography-config(),
  density: 0,
));

// Define a light theme
$light-theme: mat.define-light-theme((
 color: (
   primary: mat.define-palette(mat.$indigo-palette),
   accent: mat.define-palette(mat.$red-palette),
 ),
));

// Apply the dark theme by default
@include mat.core-theme($dark-theme);
@include mat.all-component-themes($dark-theme);

.use-light-theme {
  @include mat.core-color($light-theme);
  @include mat.all-component-themes($light-theme);
}
